<div>
    <label>{{item.icon}}  </label>
    <label>{{item.name}}  </label>
    <label>{{item.symbol}}  </label>
    <label>{{item.price}}  </label>
    <label>{{item.marketCap}}  </label>
    <label>{{item.change}}  </label>
</div>
