
<!DOCTYPE html>
<html lang="en-US">
    <head>
        {{!-- <base href="/"> --}}
        <title>TD Notes App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
        <link rel='stylesheet' href='styles/style.css' />
    </head>

    <body>
        <app-root>Loading ...</app-root>
        <h2>test</h2>
        <script src='scripts/app/bundle.js'></script>

        {{!-- <script src="/Users/james/Desktop/github&bitBucket/english-interview/noSQL/dynamoDB/dynamoDB_training1/c25/notes-app/public/scripts/app/bundle.js"></script> --}}
    </body>
    
</html>