<% include ../views/partials/header %>

           
                    <a class="btn btn-primary" data-toggle="collapse" href="#addperson" role="button" aria-expanded="false" aria-controls="addperson">
                            add person
                    </a>

                    <a class="btn btn-primary" data-toggle="collapse" href="#addlocation" role="button" aria-expanded="false" aria-controls="addlocation">
                            add location
                    </a>

                    <a class="btn btn-primary" data-toggle="collapse" href="#connectfriends" role="button" aria-expanded="false" aria-controls="connectfriends">
                            connect friends
                    </a>

                    <a class="btn btn-primary" data-toggle="collapse" href="#addbirthplace" role="button" aria-expanded="false" aria-controls="addbirthplace">
                            add birthplace
                    </a>
            <br>
            </br>
            <div class="collapse" id="addperson">
                <div class="card card-body">
                 <h3>Add New Person</h3>

            <form method="POST" action="/person">
                <input type="text" name="name" placeholder="Name">
                <input type="submit" value="Submit" class="btn btn-default btn-sm"=>
            </form>
            </div>
            </div>    

            <div class="collapse" id="addlocation">
                    <div class="card card-body">
                            <h3>Add New Location</h3>
                            <form method="POST" action="/location">
                                <input type="text" name="city" placeholder="City">
                                <input type="text" name="state" placeholder="State">
                                <input type="submit" value="Submit" class="btn btn-default btn-sm"=>
                            </form>
                </div>
                </div>    
    
                <div class="collapse" id="connectfriends">
                        <div class="card card-body">
                                <h3>Connect Friends</h3>
                                <form method="POST" action="/friends/connect">
                                    <input type="text" name="name1" placeholder="Name">
                                    <input type="text" name="name2" placeholder="Name">
                                    <input type="submit" value="Submit" class="btn btn-default btn-sm"=>
                                </form>
                    </div>
                    </div>    

                    <div class="collapse" id="addbirthplace">
                            <div class="card card-body">
                                    <h3>Add Birthplace</h3>
                                    <form method="POST" action="/person/born">
                                        <input type="text" name="name" placeholder="Name">
                                        <input type="text" name="city" placeholder="City">
                                        <input type="text" name="state" placeholder="State">
                                        <input type="text" name="year" placeholder="Year">
                                    
                                        <input type="submit" value="Submit" class="btn btn-default btn-sm"=>
                                    </form>
                        </div>
                        </div>    
            

            

            
            <h3>People</h3>
            <div class="row">
            <% persons.forEach(function(person){ %>
                <div class="col-md-2">
                <div class="well"><i class="fa fa-user"></i> <a href="/person/<%= person.id %>"><%= person.name %></a></div>
                </div>
            <% }) %>
            </div>
            
            <h3>Locations</h3>
            <div class="row">
            <% locations.forEach(function(location){ %>
             <div class="col-md-2">
                <div class="well"><i class="fa fa-map-marker"></i>  <%= location.city %>, <%= location.state %></div>
               </div>
            <% }) %>
            </div>


<% include ../views/partials/footer %>
