
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
  var tryCount = 5;  // try 5 times at most

  $(function getDataAndFillTable() {
      $("#result").on("click", function () {
        $.ajax({
                url: 'api/loadCSVFile',
                type: "GET",
                async: true,
                dataType: "json",
                success: function (data) { 
                     console.log(data);
                     data.forEach(element => {
                      $('tbody#data').append(
                        '<tr><td>' + 
                           Object.values(element)[0]  +
                        '</td><td>' + 
                          Object.values(element)[1] +
                        '</td><td>' +    
                          Object.values(element)[2] +
                        '</td><td>' +  
                          Object.values(element)[3] +
                        '</td></tr>'                                             
                     );
                    })
                },
                error: function(res) {
                    console.log(res);
                    // if (tryCount > 0){
                    //     tryCount--;
                    //     getDataAndFillTable();
                    // }else{
                    //     alert("tryCount over!");
                    // }
                }
    })
  })
})
</script>

<div>
  <span class="input-group-btn">
      <button class="btn btn-default" type="button" id="result">
          Post Data to Backend</button>
  </span>
  <p>Sample Output</p>

  <table id="content">
      <thead>
          <tr>
              <th>
                name
              </th>
              <th>
                date
              </th>
              <th>
                number
              </th>
              <th>
                description
              </th>
          </tr>
      </thead>
      <tbody id="data">
      </tbody>
  </table>
</div>
